.footer {
    width: 100%;
    background-color: black;
    padding-top: 4rem;
  }
  
  .footer-container {
    display: flex;
    width: 100%;
  }
  
  .footer-left {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;  
    color: beige;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    padding-right: 10rem;
  }
  
  .footer-right {
    background-color: #EFFE8A;
    width: 50%;
    padding: 4rem;
  }

  
.footer-bottom {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}