.home-container {
    display: flex;
}

.section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image-1, .home-image-2 {
    width: 800px;
    height: 800px;
}