.home-container {
    display: flex;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-image-1, .home-image-2 {
    width: 200px;
    height: 200px;
}